<h1>Pomodoro - Yes we can</h1>

<h2>Liste des boards</h2>

<ul>
    <li ng-repeat="board in vm.boards | orderBy : 'name' | filter : {closed : false}">{{board.name}}</li>
</ul>

<select ng-model="vm.selectedBoard"
        ng-change="vm.loadBoardDatas(vm.selectedBoard)"
        ng-options="board.name for board in vm.boards | orderBy : 'name' | filter : {closed : false}"></select>

<select ng-model="vm.selectedList"
        ng-options="list.name for list in vm.selectedBoard.lists"></select><br/><br/>

<br/><br/>

<ul>
    <li ng-repeat="card in vm.selectedBoard.cards | filter : {idList : vm.selectedList.id}">{{card.name}} - {{card.pomorellos.length}} - <button ng-click="vm.addPomorello(card)">Ajouter un pomorello</button></li>
</ul>