<h1 style="text-align: center">Dashboard</h1>

<div layout="horizontal" layout-align="start center">
    <h2>Bienvenue {{vm.user.fullName}}</h2>

    <div>
        <md-button class="md-raised md-primary" ng-click="vm.getBoardsWithCards()">Obtenir les données</md-button>
    </div>
</div>


<div ng-repeat="board in vm.boards | orderBy : 'name' | filter : {closed : false}">
    <h3>{{board.name}}</h3>
    <table>
        <tbody>
            <tr ng-repeat="card in board.cards">
                <td>{{card.name}}</td>
            </tr>
        </tbody>
    </table>
    <md-divider ng-if="vm.boards"></md-divider>
</div>